* {
    margin: 0;
    box-sizing: border-box;

}

.contenedor {
    max-width: 1200px;
    margin: auto;
}

header {
    background: url('../resources/bg1.jpg');
    background-size: cover;

    padding-top: 1%;
    background-position: 0em -8em;
    background-repeat: no-repeat;

    h1 {
        font-family: "Open Sans";
        color: white;
        font-weight: 300;
        padding-top: 8%;
        padding-bottom: 12%;
    }

    .nav-bar {
        display: flex;

        .left {
            width: 50%;

            .icon {
                img {
                    max-width: 100px;
                }
            }
        }

        .right {
            width: 50%;

            ul {
                display: flex;
                justify-content: flex-end;

                li {
                    list-style-type: none;
                    margin: 1%;

                    a {
                        font-family: 'Open Sans';
                        text-decoration: none;
                        color: white;
                        font-size: 0.8em;
                    }

                    .btn {
                        padding: 10%;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}

section.suppliers {
    .navbox {
        margin-top: -3em;
        display: flex;
        background: white;
        border-radius: 10px;
        font-family: 'Open Sans';
        border: 0.8px solid rgb(41, 41, 41);

        .childbox:nth-child(4) {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            .btn {
                width: 70%;
                border-color: transparent;
                padding-top: 0.4em;
                padding-bottom: 0.4em;

                &:hover {
                    background: white;
                    color: black;
                    border-color: black;
                    transition: 1s linear;
                }
            }
        }

        .childbox {
            .dropdown {
                position: relative;
                display: inline-block;

                span {
                    position: absolute;
                    font-family: "Open Sans";
                    font-weight: 600;
                    margin-top: -.5em;
                    display: flex;

                    i {
                        margin-left: 11em;
                        margin-top: 0.3em;
                    }
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 12px 16px;
                z-index: 1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            width: 25%;
            padding: 3%;
            font-weight: 300;

            h5 {
                font-size: 1em;
                color: rgba(128, 128, 128, 0.829);
            }

            .btn {
                color: black;
                border-color: transparent;

            }

        }
    }

    div.stores {
        .subtitle {
            label {
                margin-top: 1em;
                font-size: 1.1em;
            }
        }

        .containere {
            display: flex;

            .boxStore {
                width: 25%;
                height: 250px;
                img{
                    width: 100%;
                }
            }

            .boxStore:nth-child(1) {
                width: 25%;
                img {
                    width: 100%;
                }
            }
        }
    }
}